#container form{
  padding: 16px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 500px;
}

.race-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.race-group {
  text-align: center;
  min-height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-body {
  font-size: large;
}