#container form{
  padding: 16px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 500px;
}

.breed-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.breed-group {
  text-align: center;
  /* min-height: 200px;
  width: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.breed-group .breed-name {
  justify-self: flex-start;
}

.breed-group img {
  height: 200px;
  width: 200px
}

.breed-group {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.breed-group.has-sub-breeds:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.breed-name {
  font-size: large;
  font-weight: bold;
}